numpy
scikit-learn
flask
phe==1.5.0
requests
cryptography
tenseal
pyyaml
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-privacy
fastapi
boto3
PyJWT
uvicorn
torch
pandas
matplotlib
portpicker
pyngrok